.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
ul {
  padding: 0px;
  margin-left: 0px;
}

.articles-list {
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.topic-title {
  font-size: 6vh;
}

.articles-list {
  display: flex;
  flex-wrap: wrap;

  max-width: 300vw; /*potentially dont need */
  margin: auto; /*potentially dont need */
  justify-content: center;
  list-style: none;
}

.articles-list-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: solid;
  width: 50vh;
  min-height: 19vw;
  margin: 10px;
}

i {
  font-size: 8vh;
  background-color: lightcoral;
}

.nav-list {
  display: flex;
  background-color: lightcoral;
  justify-content: flex-start;
  align-items: center;
  border: solid;

  height: 8vh;
}

li {
  padding: 0px 10px 0px 10px;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;

  list-style-type: none;
  border-right: solid;
  height: 100%;

  text-align: center;
  text-decoration: none;
  font-size: 7vh;
}

.single-article-container {
  display: flex;
  flex-direction: column;
  max-width: 120vh;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: auto;
  border: solid;
  text-align: center;
}

.comment-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  list-style: none;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  border: solid;
}

.pages {
  padding: 10px;
}

.comment-list {
  display: flex;
  max-width: 150vh;
  margin: auto;
  flex-direction: column;
}
.comment-list-item {
  border: solid;
  margin: 5vh;
  padding: 10px;
  max-width: 60%;
  border-radius: 20%;
}

.voter-container {
  display: block;
  border: solid;
}

.voter {
  display: flex;
  padding: 1vh;
  justify-content: center;
}

.home-button {
  padding: 0%;
}

.nav-links:hover {
  background-color: blueviolet;
}
